*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(203, 238, 255);
}

.LeftMain{
    width: 800px;
    height: 700px;
    background-color: white;
    background-image: url(./assets/Mainshoe.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
    margin-left: 5%;
    margin-top: 2%;
    
    
    
}

.RightMain{
    

    
}

#info{
    
    margin-left: 15%;
    
}